//-
   Created by kevin on 05/01/16.


.container
  .pull-left
    p.text-muted
      i.fa.fa-copyright
      | &nbsp;Umple Developers, 2016 &nbsp;
      a(href='http://cruise.eecs.uottawa.ca/UmpleMITLicense.html') License
      | &nbsp;

      // Icons for Home and Github
      a(href='http://cruise.site.uottawa.ca/umple/'): i.fa.fa-home
      | &nbsp;
      a(href='https://www.github.com/umple/umple'): i.fa.fa-github

  .pull-right
    p.text-muted
      | Designed by&nbsp;
      a(href='https://www.github.com/Nava2')
        | Kevin Brightwell&nbsp;
        i.fa.fa-github