//- Mixin that will download the proper resources as required for the client.
mixin js_resources(dev)
  - var ext = (dev ? '.min' : '')

  // bower components:
  script(src='/js/_bower.js')

  script(src='/js/main.js')

mixin css_resources(dev)
  - var ext = (dev ? '.min' : '')

  // jquery:
  link(href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui#{ext}.css' rel='stylesheet')

  // Code Mirror
  link(href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror#{ext}.css' rel='stylesheet')

  // Bootstrap
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")

  // Font Awesome!
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==", crossorigin="anonymous")
  link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css')

  link(rel='stylesheet' href='stylesheets/_bower.css')
  link(rel='stylesheet' href='stylesheets/styles.css')

doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title UmpleOnline: Generate Java, C++, PHP, Alloy, NuSMV or Ruby code from Umple
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

        +css_resources(!!DEV)

    body
      block navbar

      #content.container
        .col-md-4
          block codepane
        .col-md-8
          block diagram

      footer.footer
        block footer

      +js_resources(!!DEV)